@{
    ViewBag.Title = "My Profile";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<link href="@Url.Content("~/Content/ProfilePage.css")" rel="stylesheet" type="text/css" />
</head>

<div class="row">
    <div class="col-md-4 text-center">
        <br />
        <img id="profileimg" src="http://placehold.it/300X300" class="img-rounded" align="middle">
        <a href="#" class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> Message me</a>
    </div>
    <div class="col-md-8">
        <div class="row vertical-align">
            <div class=" col-md-9">
                <br /><br />
                <h2>Ahmad Abdul Rauf</h2>
                <p>
                    Ahmad Abdul Rauf gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class=" col-md-3 text-center">
                <h4>Rating appears here</h4>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-md-12">
                <h4>My Location</h4>
                <p>Location appears here</p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <hr>
    <h2>Services I can offer</h2>
    <br />
    <div class="col-md-3">
        <img src="http://placehold.it/50X50" class="img-circle" alt="Alternate Text" />
        <h4>Service Name</h4>
        <p>This is an optional service description field</p>
    </div>
    <div class="col-md-3">
        <img src="http://placehold.it/50X50" class="img-circle" alt="Alternate Text" />
        <h4>Service Name</h4>
        <p>This is an optional service description field</p>
    </div>
    <div class="col-md-3">
        <img src="http://placehold.it/50X50" class="img-circle" alt="Alternate Text" />
        <h4>Service Name</h4>
        <p>This is an optional service description field</p>
    </div>
    <div class="col-md-3">
        <img src="http://placehold.it/50X50" class="img-circle" alt="Alternate Text" />
        <h4>Service Name</h4>
        <p>This is an optional service description field</p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="http://placehold.it/60X60" alt="Alternate Text" />
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Services Completed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="http://placehold.it/60X60" alt="Alternate Text" />
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">5</div>
                        <div>Current Active Services</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="http://placehold.it/60X60" alt="Alternate Text" />
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">5</div>
                        <div>Hours worked this week</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="http://placehold.it/60X60" alt="Alternate Text" />
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">5</div>
                        <div>Current Active Services</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr>
    <h2 class="text-center">Services I offered previously</h2>
    <br />
    <div class="col-md-6">
        <a href="#" class="">
            <h4>Service Name</h4>
        </a>
        <p>This is the service description field</p>
    </div>
    <div class="col-md-6">
        <a href="#" class="">
            <h4>Service Name</h4>
        </a>
        <p>This is the service description field</p>
    </div>
    <div class="col-md-6">
        <a href="#" class="">
            <h4>Service Name</h4>
        </a>
        <p>This is the service description field</p>
    </div>
    <div class="col-md-6">
        <a href="#" class="">
            <h4>Service Name</h4>
        </a>
        <p>This is the service description field</p>
    </div>
    <div class="col-md-6">
        <a href="#" class=" btn-sm btn-default">See more  &raquo;</a>
    </div>
</div>