/*#custom-search-input {
    margin: 0;
    margin-top:10px;
    padding:0;
}
#custom-search-input .search-query{
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: red;
}

.search-query:focus + button {
    z-index: 3;
}*/

/*.first-row {
    margin-top: 50pt;
}*/

.whitetext {
    color: #eee;
}

.white-background {
    background-color: white;
    
}

.vertical-divider {
  text-align: center;
  /*padding-bottom: 100px;*/
  /*margin-bottom: -100px;*/
  border-left: 1px solid #F2F7F9;
  border-right: 1px solid #F2F7F9;
}

.dropdown-menu {
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #e6e6e6;
  color:#484848;
}

.SelectedRow {
    background-color: #e6e6e6;
    color:#484848;
}